# Temp files
.*.swp

# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
*.lib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Output binary
fw1-loggrabber

# Visual Studio temp and user files
*.filters
*.user
*.sdf
*.suo
*.opensdf
.vs

# Build directories
Debug
Release
ipch
